<div class="font-lora w-[90vw] lg:w-[70vw] flex flex-col justify-center items-center px-5vw gap-8 lg:mt-20vh">
  <div class="flex flex-col lg:flex-row" *ngFor="let service of services; let i = index;" [ngClass]="{'lg:flex-row-reverse': i % 2 !== 0}">
    <div id="{{ service.id }}">
      <p class="font-medium text-[2rem] leading-9 text-[#4c1616]">{{ service.title }}</p>
      <p class="text-[1.1rem] leading-6">{{ service.description }}</p>
    </div>
    <img src="{{ service.image }}" alt="Service image">
  </div>
</div>
