<div id="visibility-block" class="mb-15vh">
  <h3 id="visibility-block-title" class="pb-3vh text-center">
    <span appFadeIn
          class="lora-medium
          text-[2.5rem] lg:text-[3rem] text-[#4c1616]
                fade-in-element opacity-0 fadein
                leading-10 w-[90vw] lg:w-[80vw]">
        Why Do You Need A Website
      </span>
  </h3>

  <div appFadeIn
       id="we-do-seo-block"
       class="fade-in-element opacity-0 fadein
              flex flex-col-reverse lg:flex-row justify-center items-center">

    <div id="why-you-need-website-block" class="p-0 pl-[5vw] w-[90vw] lg:w-[40vw]">
      <p class="visibility-item-title leading-10">Enhances Credibility</p>
      <p class="reason-to-have-website visibility-item">
        A professionally designed website boosts your business's credibility and professionalism, making potential customers more likely to trust you.
      </p>
      <p class="visibility-item-title leading-10">24/7 Accessibility</p>
      <p class="reason-to-have-website visibility-item">
        A website allows customers to access information about your products and services anytime, increasing convenience and sales opportunities.
      </p>
      <p class="visibility-item-title leading-10">Cost-Effective Marketing</p>
      <p class="reason-to-have-website visibility-item">
        Maintaining a website is cost-effective compared to traditional marketing, enabling you to reach a wider audience with strategies
        like SEO and content marketing.
      </p>
      <p class="visibility-item-title leading-10"><span>Broader Reach</span></p>
      <p class="reason-to-have-website visibility-item">
        A website breaks geographical barriers, allowing you to attract customers from different regions and expand your market.
      </p>
    </div>
    <img id="reliable-website-design-and-seo-image"
         class="rounded-shadow h-auto mb-5vh lg:mb-0 w-[90vw] lg:h-[70vh] lg:w-auto"
         alt="We create beautiful websites and optimise SEO"
         src="assets/img/eCommerce-plan-image.webp"
         loading="lazy">
  </div>
</div>
