@import "../../variables.scss";

// #content-section {
//   position: relative;
//   z-index: 1;
//   margin-top: 100vh;
//   background-color: $body-color;
//   padding: 0;

//   h3 {
//     text-align: center;
//     color: $nav-color;
//     font-size: 3rem;
//     padding: 10vh 0vw 5vh 0vw;
//     margin: 0;
//   }
// }

#visibility-block {
  padding: 0vh 0vw 0vh 0vw;

  #visibility-block-title {
    background-color: $body-color;
    font-size: 3rem;
    color: $nav-color;
    margin: 0px;
    padding: 15vh 5vw 5vh 5vw;
    text-align: center;
  }

  h4 {
    background-color: $nav-color;
    color: $body-color;
    font-size: 1.7rem;
    padding: 5vh 10vw;
    margin: 0;
    text-align: center;
    font-weight: 400;
    line-height: 1.5;
  }

  #we-do-seo-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10vh 15vw 0vh 10vw;
    background-color: $body-color;

    #why-you-need-website-block {
      padding: 0vh 0vw 0vh 5vw;
      max-width: 40vw;

      .reason-to-have-website-title {
        color: $nav-color;
        background-color: $body-color;
        padding: 0vh 0vw;
        margin: 0;
        text-align: left;
        font-size: 2rem;
      }

      .reason-to-have-website {
        padding: 0vh 10vw 5vh 0vw;
        margin: 0;
        text-align: left;
        line-height: 1.5;
        font-size: 1.3rem;
      }
    }

    #reliable-website-design-and-seo-image {
      max-height: 70vh;
      border-radius: 20px;
      box-shadow: -5px 5px 15px -2px;
    }
  }
}
