<div id="visibility-block" class="mb-15vh">
  <h3 id="visibility-block-title" class="pb-3vh"><span class="font-lora font-medium text-[3rem] text-[#391111]">Why Do You Need A Website</span></h3>
  <!-- <h4>{{ header }}</h4> -->

  <div id="we-do-seo-block">
    <div id="why-you-need-website-block">
      <h3 class="reason-to-have-website-title text-[#391111]">Enhances Credibility</h3>
      <p class="reason-to-have-website">
        A professionally designed website boosts your business's credibility and professionalism, making potential customers more likely to trust you.
      </p>
      <h3 class="reason-to-have-website-title text-[#391111]">24/7 Accessibility</h3>
      <p class="reason-to-have-website">
        A website allows customers to access information about your products and services anytime, increasing convenience and sales opportunities.
      </p>
      <h3 class="reason-to-have-website-title text-[#391111]">Cost-Effective Marketing</h3>
      <p class="reason-to-have-website">
        Maintaining a website is cost-effective compared to traditional marketing, enabling you to reach a wider audience with strategies
        like SEO and content marketing.
      </p>
      <h3 class="reason-to-have-website-title text-[#391111]">Broader Reach</h3>
      <p class="reason-to-have-website">
        A website breaks geographical barriers, allowing you to attract customers from different regions and expand your market.
      </p>
    </div>
    <img id="reliable-website-design-and-seo-image" alt="We create beautiful websites and optimise SEO" src="assets/img/eCommerce-plan-image.jpg">
  </div>
</div>
