@import "../../variables.scss";

#visibility-block {

  #visibility-block-title {
    text-align: center;
  }

  h4 {
    background-color: #391111;
    color: white;
    font-size: 1.7rem;
    padding: 5vh 10vw;
    margin: 0;
    text-align: center;
    font-weight: 400;
    line-height: 1.5;
  }

  #we-do-seo-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: $body-color;

    #why-you-need-website-block {
      padding: 0vh 0vw 0vh 5vw;
      max-width: 40vw;

      .reason-to-have-website-title {
        padding: 0vh 0vw 1vh 0vw;
        margin: 0;
        text-align: left;
        font-size: 2rem;
      }

      .reason-to-have-website {
        padding: 0vh 10vw 5vh 0vw;
        margin: 0;
        text-align: left;
        line-height: 1.5;
        font-size: 1.3rem;
      }
    }

    #reliable-website-design-and-seo-image {
      max-height: 70vh;
      border-radius: 20px;
      box-shadow: -5px 5px 15px -2px;
    }
  }
}
