<footer id="footer-block" class="bg-[#411313] font-lora text-[#ffffff] py-3vh">
  <div id="contacts-block" class="flex flex-row gap-[2vw] justify-center">

    <div id="email-phone-block" class="flex flex-col gap-1vh">
      <div class="flex flex-row gap-4">
        <span>
          <img src="../../../assets/img/email-white.svg" alt="Email icon" class="w-[32px] h-[32px]">
        </span>
        <span class="text-[1.2rem] pt-[4px]">blackwalnut.digital&#64;gmail.com</span>
      </div>
      <div class="flex flex-row gap-4">
        <span>
          <img src="../../../assets/img/phone-white.svg" alt="Phone icon" class="w-[32px] h-[32px]">
        </span>
        <span class="text-[1.2rem] pt-[4px]">+1 (346) 465 4664</span>
      </div>
      <div class="flex flex-row gap-4">
        <span>
          <img src="../../../assets/img/facebook.svg" alt="Phone icon" class="w-[24px] h-[24px] ml-[5px]">
        </span>
        <span class="text-[1.2rem] pt-[4px]">Facebook</span>
      </div>
    </div>
  </div>

  <div id="copyright-block" class="mt-[2vh]">
    Copyright © 2024 | Black Walnut Digital | All Rights Reserved
  </div>
</footer>
