<footer id="footer-block" class="bg-[#411313] font-lora py-2vh">
  <div id="contacts-block">
    <div id="social-media-block" class="p-0 ">
      <span><img src="../../../assets/img/facebook.svg" alt="Facebook icon" class="w-[16px] h-[16px]"></span>
    </div>

    <div id="email-phone-block">
      <p class="flex flex-row gap-2"><img src="../../../assets/img/email-white.svg" alt="Email icon"> blackwalnut.digital&#64;gmail.com</p>
      <p class="flex flex-row gap-2"><img src="../../../assets/img/phone-white.svg" alt="Phone icon"> +1 (346) 465 4664</p>
    </div>
  </div>

  <div id="copyright-block" class="bg-[#411313] font-lora text-[#ffffff]">
    Copyright © 2024 | Black Walnut Digital | All Rights Reserved
  </div>
</footer>
