<section id="hero-section">
  <app-hero [header]="pages.home.header"></app-hero>
</section>

<section id="content-section">
  <app-services [services]="pages.home.content.serviceCards"></app-services>

  <app-visibility [header]="pages.home.content.visibilityBlockHeader"></app-visibility>

  <app-our-mission [mission]="pages.home.content.mission" id="our-mission"></app-our-mission>

  <app-process [process]="pages.home.content.process" id="our-way"></app-process>

  <app-get-in-touch id="contact-us"></app-get-in-touch>

  <app-footer></app-footer>
</section>



