@import "../../variables.scss";

#content-section {
  position: relative;
  z-index: 1;
  margin-top: 100vh;
  background-color: $body-color;
  padding: 0;
  height: 90vh;

  h3 {
    text-align: center;
    color: $nav-color;
    font-size: 3rem;
    padding: 10vh 0vw 5vh 0vw;
    margin: 0;
  }
}
