<div id="banner-block" class="h-[80vh] lg:h-100vh flex flex-row justify-start z-0 pb-0 m-0">

  <div
       id="headers-container"
       class="flex flex-col gap-2 justify-start lg:justify-center items-center
              mx-0vw lg:mx-10vw px-0">

    <a routerLink="" class="flex flex-row justify-center">
      <img src="../../../assets/img/walnut-logo1.svg"
            class="w-[150px] md:w-[20vw] h-auto z-[999999]
                  block lg:hidden"
            alt="Black Walnut Web Design Agency logo">
    </a>

    <h1 id="main-header"
        class="flex flex-col gap-5 lg:gap-10 justify-center items-center
              w-[95vw] lg:w-[35vw]">
      <span class="font-lora font-medium text-[2.3rem] lg:text-[3.5rem] z-10 text-nowrap">{{ header.mainHeaderLine1 }}</span>
      <span class="font-lora font-medium text-[2.3rem] lg:text-[3.5rem] z-10 text-nowrap">{{ header.mainHeaderLine2 }}</span>
      <span class="font-lora font-medium text-[2.3rem] lg:text-[3.5rem] z-10 text-nowrap">{{ header.mainHeaderLine3 }}</span>
    </h1>

    <h2 class="flex flex-col justify-center items-center">
      <span class="font-lora text-subheader-color z-10">{{ header.subHeaderLine1 }}</span>
      <span class="font-lora text-subheader-color z-10">{{ header.subHeaderLine2 }}</span>
      <span class="font-lora text-subheader-color z-10">{{ header.subHeaderLine3 }}</span>
    </h2>

    <button (click)="redirectToCalendar()" id="book-call-btn"
      class="bg-[#4c1616] font-lato font-medium z-10
      py-[1.8vh] pb-[2vh] px-0
      text-[25px] text-[#ffffff]
      rounded-20 mt-5vh
      w-[65vw] md:w-[35vw] lg:w-[25vw] xl:w-[20vw] 2xl:w-[17vw]
      transition-all ease-in-out hover:scale-105 hover:shadow-lg hover:shadow-black-500/70"
      type="button"><span class="text-nowrap">Get Free Consultation</span>
    </button>
  </div>

  <div id="picture-block" class="flex flex-row justify-start">
    <img src="../../../assets/img/overlay.svg"
        alt="Wave overlay"
        class="absolute left-[15vw] my-0 mx-auto p-0 z-0 max-h-100vh h-100vh hidden lg:block">
    <img
      src="../../../assets/img/create-website-growing-business.webp"
      alt="Picture displaying a successful man creating business website"
      class="w-[61.8vw] h-100vh
            object-cover
            z-[-1] absolute left-[37.4vw]
            hidden lg:block">
  </div>
</div>
