<div appFadeIn id="mission-block" class="mb-15vh fade-in-element opacity-0 fadein">
  <div id="mission-content-block">
    <div id="mission-body-block" class="flex flex-col lg:flex-row lg:justify-center items-center">
      <img [src]="missionImage" class="hidden lg:block lg:max-w-xl rounded-shadow h-full lg:w-40vw lg:h-50vh" alt="Our mission image">

      <div id="mission-description"
           class="lg:w-5/12 m-0 text-xl leading-relaxed p-0
                  lg:pt-0 lg:pr-2 lg:pb-5 lg:pl-12
                  flex flex-col items-center">
        <div class="w-[80vw] text-center lg:w-full text-[2.5rem] lg:text-[3rem] text-[#4c1616] lg:text-right m-0 pb-4">{{ mission.title }}</div>
        <img [src]="missionImage" class="max-w-xl rounded-shadow w-[90vw] h-full lg:hidden mb-5vh" alt="Our mission image">
        <div class="w-[90vw] text-center lg:text-left lg:w-[45vw] lg:ml-5vw">{{ mission.description }}</div>
      </div>
    </div>
  </div>
</div>
