<div appFadeIn id="mission-block" class="mb-15vh fade-in-element opacity-0 transition-opacity duration-2000 ease-in-out">
  <div id="mission-content-block">
    <div id="mission-body-block" class="flex flex-row justify-center">
      <img [src]="missionImage" class="max-w-xl rounded-lg shadow-3xl w-40vw h-50vh" alt="Our mission image">
      <div id="mission-description" class="w-5/12 m-0 text-xl leading-relaxed pt-0 pr-2 pb-5 pl-12 flex flex-col items-center">
        <div class=" w-full text-5xl text-[#391111] text-right m-0 pb-4">{{ mission.title }}</div>
        <div>{{ mission.description }}</div>
      </div>
    </div>
  </div>
</div>
