<div id="mission-block" class="bg-body-beige pt-20-vh">
  <div id="mission-content-block">
    <div id="mission-body-block" class="flex flex-row justify-center">
      <img src="assets/img/growing-business-plan-image.jpg" class="max-w-xl rounded-lg shadow-2xl shadow-3xl">
      <div id="mission-description" class="w-5/12 m-0 text-xl leading-relaxed text-nav-brown pt-0 pr-2 pb-5 pl-12 flex flex-col items-center">
        <div class=" w-full text-5xl text-nav-brown text-right m-0 pb-4">{{ mission.title }}</div>
        <div>{{ mission.description }}</div>
      </div>
    </div>
  </div>
</div>
