<div class="flex flex-col font-lora gap-[10vh]">

  <div class="flex flex-col leading-[5vh] justify-center text-center font-lora font-medium text-[2.5rem] lg:text-[3rem] text-[#4c1616]">
    <span>No complicated plans.</span>
    <span>Choose only what you like more.</span>
  </div>

  <div class="flex flex-col lg:flex-row text-[1.2rem] justify-center items-start self:items-center w-[90vw] pl-10vw lg:pl-0 lg:items-start gap-5vw">
    <div class="flex flex-col gap-1 [&>div>p]:pt-[10px] [&>div>p]:ml-[10px] [&>div]:flex [&>div]:flex-row">
      <div class="mb-2vh text-[2rem] text-[#4c1616]">Starter</div>
      <div><img src="../../../assets/img/green_check.svg" alt="Green check icon"><p>$1000 for the whole website</p></div>
      <div><img src="../../../assets/img/green_check.svg" alt="Green check icon"><p>Standard website for a small business</p></div>
      <div><img src="../../../assets/img/green_check.svg" alt="Green check icon"><p>Meeting scheduling feature for your clients</p></div>
      <div><img src="../../../assets/img/green_check.svg" alt="Green check icon"><p>Unique and optimized content</p></div>
      <div><img src="../../../assets/img/green_check.svg" alt="Green check icon"><p>Secure hosting</p></div>
      <div><img src="../../../assets/img/green_check.svg" alt="Green check icon"><p>Own your website from day one</p></div>
      <div><img src="../../../assets/img/red_check.svg" alt="Red check icon"><p>Updates and new features priced separately</p></div>
      <div><img src="../../../assets/img/red_check.svg" alt="Red check icon"><p>No 24/7 support</p></div>
      <div><img src="../../../assets/img/red_check.svg" alt="Red check icon"><p>No periodic content updates</p></div>
    </div>

    <div class="flex flex-col gap-1 [&>div>p]:pt-[10px] [&>div>p]:ml-[10px] [&>div]:flex [&>div]:flex-row">
      <div class="mb-2vh text-[2rem] text-[#4c1616]">Business</div>
      <div><img src="../../../assets/img/green_check.svg" alt="Green check icon"><p>$0 upfront</p></div>
      <div><img src="../../../assets/img/green_check.svg" alt="Green check icon"><p>$150/month</p></div>
      <div><img src="../../../assets/img/green_check.svg" alt="Green check icon"><p>Minimum 6 month contract</p></div>
      <div><img src="../../../assets/img/green_check.svg" alt="Green check icon"><p>24/7 support</p></div>
      <div><img src="../../../assets/img/green_check.svg" alt="Green check icon"><p>Unlimited updates included</p></div>
      <div><img src="../../../assets/img/green_check.svg" alt="Green check icon"><p>Content updates and optimization</p></div>
      <div><img src="../../../assets/img/green_check.svg" alt="Green check icon"><p>Own website after 6 month or prolong the contract</p></div>
      <div><img src="../../../assets/img/green_check.svg" alt="Green check icon">
        <div class="pt-[10px] ml-[10px]">
          <p>In case of early termination the domain stays with you.</p>
          <p>The website will be terminated.</p>
        </div>
      </div>
    </div>

    <div class="flex flex-col gap-1 [&>div>p]:pt-[10px] [&>div>p]:ml-[10px]">
      <div class="mb-2vh text-[2rem] text-[#4c1616]">eCommerce</div>
      <div><a [routerLink]="['/pricing']" [fragment]="'contact-us'"><span class="underline decoration-solid">Reach out</span></a> to us to discuss the details</div>
    </div>
  </div>
</div>
