@import "../../variables.scss";

#get-in-touch-block {
  padding: 1vh 0vw 10vh 0vw;

  #get-in-touch-form-block {
    #contact-form {
      .form-input {
        input {
          border: $nav-color 1px solid;
          height: 2.5rem;
          border-radius: 20px;
          padding: 0px 10px;
          font-size: 1.2rem;
          outline: none;
        }

        textarea {
          background-color: $body-color;
          border: $nav-color 1px solid;
          border-radius: 20px;
          height: 10vh;
          min-height: 10vh;
          max-height: 20vh;
          max-width: 40vw;
          padding: 10px 10px;
          font-size: 1.2rem;
          outline: none;
          overflow: auto;
        }
      }

      #submit-message-btn {
        padding: 1.5vh 1vw;
      }
    }
  }
}



