<div appFadeIn
     id="get-in-touch-block"
     class="flex flex-col items-center
     fade-in-element opacity-0 fadein">
  <div id="get-in-touch-header" class="pb-5vh mt-15vh">
    <p class="text-[#4c1616] text-[2.5rem] lg:text-[3rem] font-lora font-medium text-center leading-10 w-[90vw]">Get In Touch With Us</p>
  </div>

  <div class="bg-[#ffffff] lg:w-1/2 rounded-20 flex flex-col-reverse lg:flex-row justify-end py-10 px-0 lg:px-20 m-0">
    <div class="text-[#000000] flex flex-col items-center w-[100%] lg:mr-5vw">
      <div class="text-2rem lg:self-start">Reach out to us here:</div>
      <div class="text-[#4c1616] text-[1.5rem] font-lora font-medium py-[4vh] flex flex-col justify-start items-center lg:items-start gap-4 lg:mt-5vh">
        <div class="flex flex-row gap-2"><img src="../../../assets/img/phone-icon.svg" alt="Phone icon"> +1 (346) 465 4664</div>
        <div class="flex flex-row gap-2"><img src="../../../assets/img/email-icon.svg" alt="Email icon">blackwalnutdigital&#64;gmail.com</div>
      </div>
    </div>

    <div class="block lg:hidden flex flex-row justify-center my-5vh">
      <p class="text-[#4c1616] font-lora text-[2rem]">OR</p>
    </div>

    <div id="get-in-touch-form-block" class="flex flex-row justify-center">
      <form id="contact-form" class="text-[#000000] flex flex-col justify-center w-[90vw] lg:w-20vw" [formGroup]="emailForm" (ngSubmit)="onSubmit()">
        <div class="form-input contact-form-input">
          <label class="pb-1vh text-[1.5rem]">Name:</label>
          <input id="name" formControlName="name" type="text" placeholder="Tell us how can we call you..." class="placeholder-nav-brown text-nav-brown">
        </div>

        <div class="form-input contact-form-input">
          <label class="pb-1vh text-[1.5rem]">Business Name:</label>
          <input id="businessName" formControlName="businessName" type="text" placeholder="Example: AbcCompany" class="placeholder-nav-brown text-nav-brown">

          <div *ngIf="emailForm.get('businessName')?.invalid && emailForm.get('businessName')?.touched">
            <small *ngIf="emailForm.get('businessName')?.hasError('required')">Business Name is required.</small>
          </div>
        </div>

        <div class="form-input contact-form-input">
          <label class="pb-1vh text-[1.5rem]">Email:</label>
          <input id="businessEmail" formControlName="email" type="email" placeholder="Example: abc@gmail.com" class="placeholder-nav-brown text-nav-brown">

          <div *ngIf="emailForm.get('email')?.invalid && emailForm.get('email')?.touched">
            <small *ngIf="emailForm.get('email')?.hasError('required')">Email is required.</small>
            <small *ngIf="emailForm.get('email')?.hasError('email')">Invalid email format.</small>
          </div>
        </div>

        <div class="form-input contact-form-input">
          <label class="pb-1vh text-[1.5rem]">Message:</label>
          <textarea id="message" formControlName="message" class="text-[#000000]"></textarea>

          <div *ngIf="emailForm.get('message')?.invalid && emailForm.get('message')?.touched">
            <small *ngIf="emailForm.get('message')?.hasError('required')">Message is required.</small>
          </div>
        </div>

        <button
          type="submit"
          id="submit-message-btn"
          class="contact-form-input-send-btn">Send Us Message</button>
      </form>
    </div>
  </div>
</div>
