<div appFadeIn
     id="get-in-touch-block"
     class="flex flex-col items-center
     fade-in-element opacity-0 transition-opacity duration-2000 ease-in-out
     ">
  <div id="get-in-touch-header" class="pb-5vh mt-15vh">
    <p class="text-[#391111] text-[3rem] font-lora font-medium">Get In Touch With Us</p>
  </div>

  <div class="bg-[#ffffff] w-1/2 rounded-20 flex flex-row justify-end py-10 px-20">
    <div class="text-[#000000] flex flex-col items-center w-[100%] ">
      <div class="text-2rem">Reach out to us</div>
    </div>

    <div id="get-in-touch-form-block">
      <form id="contact-form" class="text-[#000000]">
        <div class="form-input">
          <label class="pb-1vh">Name:</label>
          <input type="text" placeholder="Tell us how can we call you..." class="placeholder-nav-brown text-nav-brown">
        </div>

        <div class="form-input">
          <label class="pb-1vh">Business Name:</label>
          <input type="text" placeholder="Example: AbcCompany" class="placeholder-nav-brown text-nav-brown">
        </div>

        <div class="form-input">
          <label class="pb-1vh">Message:</label>
          <textarea class="text-[#000000]"></textarea>
        </div>

        <button
          type="submit"
          id="submit-message-btn"
          class="rounded-20 border-[#000000] border-solid border py-3v bg-[#391111] text-[#ffffff] hover:bg-[#ffffff] hover:text-[#000000] hover:border-nav-brown">Send Us Message</button>
      </form>
    </div>
  </div>


</div>
