@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
  height: 100vh;
}

.visibility-item {
  @apply pr-10vw pb-5vh text-center lg:text-left leading-7 text-[1.3rem];
}

.visibility-item-title {
  @apply text-[#4c1616] text-center lg:text-left text-[2rem] pb-1vh;
}

.rounded-shadow {
  @apply rounded-20 shadow-3xl;
}

.fadein {
  @apply transition-opacity duration-2000 ease-in-out;
}

.lora-medium {
  @apply font-lora font-medium;
}

.navigation-mobile {
  @apply border-b font-lora text-center py-[2.5vh] hover:bg-[#F3F4F6] transition duration-300 w-[90vw] text-[1.4rem];
}

.contact-form-input {
  @apply flex flex-col justify-center pb-[3vh];
}

.contact-form-input-send-btn {
  @apply self-center rounded-20 border-[#000000] border-solid border py-3vh bg-[#4c1616] text-[#ffffff]
  hover:bg-[#ffffff] hover:text-[#000000] hover:border-nav-brown w-[40vw] lg:w-[12vw] text-[1.2rem] py-[1.5vh] px-1vw mb-[3vh];
}

