<div
  id="nav-container"
  class="{{ scrolled ? 'bg-[#ffffff] bg-opacity-50' : 'bg-transparent' }} w-100vw h-[12vh] py-1vh pl-5vw flex flex-row justify-start fixed top-0 z-50">
  <a routerLink="">
    <img src="../../../assets/img/walnut-logo.svg" class="w-[5vw] h-[10vh] z-[999999]" alt="Black Walnut Web Design Agency logo">
  </a>
  <nav id="navigation" class="flex flex-row pt-[4vh] pb-3vh px-5vw">
    <span class="nav-item-link font-lora"><a routerLink="">Home</a></span>
    <span class="nav-item-link font-lora"><a [routerLink]="['/']" [fragment]="'what-do-we-do'">Services</a></span>
    <span class="nav-item-link font-lora"><a [routerLink]="['/']" [fragment]="'our-mission'">Our Mission</a></span>
    <span class="nav-item-link font-lora"><a [routerLink]="['/']" [fragment]="'our-way'">Our Way</a></span>
    <span class="nav-item-link font-lora"><a routerLink="">Blog</a></span>
    <span class="nav-item-link font-lora"><a [routerLink]="['/']" [fragment]="'contact-us'">Contact Us</a></span>
  </nav>
</div>
