<div
  id="nav-container"
  class="{{ scrolled ? 'bg-[#ffffff] bg-opacity-60' : 'bg-transparent' }}
        w-100vw h-[12vh] py-1vh pl-5vw
        flex flex-row justify-start
        fixed top-0 z-50
        hidden lg:flex">
  <a [routerLink]="['']" [fragment]="'banner-block'">
    <img src="../../../assets/img/walnut-logo1.svg"
         class="w-[5vw] h-[10vh] z-[999999]
                hidden lg:block"
         alt="Black Walnut Web Design Agency logo">
  </a>
  <nav id="navigation" class="flex flex-row pt-[4vh] pb-3vh px-5vw text-[1.4rem] font-medium">
    <span class="font-lora text-nowrap link-underline link-underline-black"><a [routerLink]="['']">Home</a></span>
    <span class="font-lora text-nowrap link-underline link-underline-black"><a [routerLink]="['/services']">Services</a></span>
    <span class="font-lora text-nowrap link-underline link-underline-black"><a [routerLink]="['/']" [fragment]="'our-mission'">Our Mission</a></span>
    <span class="font-lora text-nowrap link-underline link-underline-black"><a [routerLink]="['/']" [fragment]="'our-way'">Our Way</a></span>
    <span class="hidden font-lora text-nowrap link-underline link-underline-black"><a routerLink="">Blog</a></span>
    <span class="font-lora text-nowrap link-underline link-underline-black"><a [routerLink]="['/pricing']">Pricing</a></span>
    <span class="font-lora text-nowrap link-underline link-underline-black"><a [routerLink]="['/']" [fragment]="'contact-us'">Contact Us</a></span>
  </nav>
</div>

<div class="flex lg:hidden flex-col">
  <button (click)="toggleMenu()" class="p-2 self-end">
    <img class="block mb-1" src="../../../assets/img/mobile-menu.svg" alt="Mobile menu">
  </button>

  <nav [ngClass]="{'block': isMenuOpen, 'hidden': !isMenuOpen}" class="relative flex flex-col justify-center items-center space-x-4 w-[90vw] self-center mb-3vh">
    <ul class="flex flex-col justify-center items-center gap-0">
      <li class="border-1 border-solid border-black w-100vw navigation-mobile"><a class="hover:text-[#ffffff]" [routerLink]="['/']">Home</a></li>
      <li class="border-1 border-solid border-black w-100vw navigation-mobile"><a class="hover:text-[#ffffff]" [routerLink]="['/services']">Services</a></li>
      <li class="border-1 border-solid border-black w-100vw navigation-mobile"><a class="hover:text-[#ffffff]" [routerLink]="['/']" [fragment]="'our-mission'">Our Mission</a></li>
      <li class="border-1 border-solid border-black w-100vw navigation-mobile"><a class="hover:text-[#ffffff]" [routerLink]="['/']" [fragment]="'our-way'">Our Way</a></li>
      <li class="hidden border-1 border-solid border-black w-100vw navigation-mobile"><a class="hover:text-[#ffffff]" routerLink="">Blog</a></li>
      <li class="border-1 border-solid border-black w-100vw navigation-mobile"><a class="hover:text-[#ffffff]" [routerLink]="['/pricing']">Pricing</a>
      <li class="border-1 border-solid border-black w-100vw navigation-mobile"><a class="hover:text-[#ffffff]" [routerLink]="['/']" [fragment]="'contact-us'">Contact Us</a>
    </ul>
  </nav>
</div>
